In [46]:
import os
from pathlib import Path
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

In [47]:
os.path.abspath(os.curdir)

'/mnt/c/Users/crulis/Documents/projects/yolo_tdid_github'

In [48]:
result_orig = Path('../yolo_tdid/results/')
result_wc = Path('results_wc_gqa_partial')
# result_wc = Path('results_wc_eps')

In [49]:
list(result_wc.iterdir())[0]

PosixPath('results_wc_gqa_partial/yolow-l_sighted-True_clutter-False_hand-False_n-2_k-1_bias-False_augment-True_use_wc-True_seed-409659.csv')

In [50]:
def load(path):
    files = path.iterdir()
    name_re = re.compile(r"yolow-(?P<size>.)_sighted-(?P<sighted>.+)_clutter-(?P<clutter>.+)_hand-(?P<hand>.+)_n-(?P<n>\d+)_k-(?P<k>\d+)_bias-.+_augment-(?P<augment>True|False+)(_use_wc-(?P<wc>.+))?_seed-(?P<seed>\d+).*")

    dfs = []

    for f in files:
        m = name_re.match(f.stem)
        if m is None:
            print(f"Skipping {f}")
            continue
        try:
            df = pd.read_csv(f)
            df['size'] = m.group("size")
            df['train blind'] = m.group("sighted") == "False"
            df['train clutter'] = m.group("clutter") == "True"
            df['train hand'] = m.group("hand") == "True"
            df['n_objects'] = int(m.group("n"))
            df['k_examples'] = int(m.group("k"))
            df['augment'] = m.group("augment") == "True"
            df['WC'] = m.group("wc") == "True"
            dfs.append(df)
        except Exception as e:
            print(e)
            print("skipping file")

    df = pd.concat(dfs, ignore_index=True)
    return df

In [51]:
df_base = load(result_orig)

In [52]:
df_wc = load(result_wc)

No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file
No columns to parse from file
skipping file

In [53]:
df_base

,repeat,seed,hand,blind,illuminated,torch,volume_portrait,clutter,target_class,predicted_class,...,prob_cls_17,prob_cls_18,size,train blind,train clutter,train hand,n_objects,k_examples,augment,WC
0,1,377084,True,False,True,True,False,False,9,13,...,0.061752,0.382750,l,False,False,False,19,10,False,False
1,1,377084,True,False,True,True,False,False,6,6,...,0.107681,0.899965,l,False,False,False,19,10,False,False
2,1,377084,True,False,True,True,False,False,1,13,...,0.253749,0.983169,l,False,False,False,19,10,False,False
3,1,377084,True,False,True,True,False,False,0,15,...,0.646412,0.991299,l,False,False,False,19,10,False,False
4,1,377084,True,False,True,True,False,False,16,7,...,0.675795,0.896656,l,False,False,False,19,10,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812795,30,959693,True,False,True,True,True,True,16,16,...,0.606249,0.969648,s,False,False,True,9,5,True,False
8812796,30,959693,True,False,True,True,True,True,17,16,...,0.010714,0.004522,s,False,False,True,9,5,True,False
8812797,30,959693,True,False,True,True,True,True,18,16,...,0.744066,0.982809,s,False,False,True,9,5,True,False
8812798,30,959693,True,False,True,True,True,True,1,16,...,0.973156,0.948100,s,False,False,True,9,5,True,False
8812799,30,959693,True,False,True,True,True,True,17,17,...,0.949753,0.661611,s,False,False,True,9,5,True,False

In [54]:
df_a = df_base[df_base["augment"] & (df_base["train hand"] == False)]

In [55]:
df_a

,repeat,seed,hand,blind,illuminated,torch,volume_portrait,clutter,target_class,predicted_class,...,prob_cls_17,prob_cls_18,size,train blind,train clutter,train hand,n_objects,k_examples,augment,WC
102600,1,472439,True,False,True,True,False,False,9,14,...,0.023661,0.191233,l,False,False,False,19,10,True,False
102601,1,472439,True,False,True,True,False,False,6,12,...,0.508805,0.854984,l,False,False,False,19,10,True,False
102602,1,472439,True,False,True,True,False,False,1,5,...,0.324269,0.946395,l,False,False,False,19,10,True,False
102603,1,472439,True,False,True,True,False,False,0,5,...,0.776505,0.975045,l,False,False,False,19,10,True,False
102604,1,472439,True,False,True,True,False,False,16,10,...,0.133739,0.022656,l,False,False,False,19,10,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7343995,30,570949,True,False,True,True,True,True,16,5,...,0.000000,0.734826,s,False,False,False,9,5,True,False
7343996,30,570949,True,False,True,True,True,True,16,5,...,0.000000,0.332318,s,False,False,False,9,5,True,False
7343997,30,570949,True,False,True,True,True,True,18,16,...,0.000000,0.955170,s,False,False,False,9,5,True,False
7343998,30,570949,True,False,True,True,True,True,4,16,...,0.000000,0.929729,s,False,False,False,9,5,True,False
7343999,30,570949,True,False,True,True,True,True,8,8,...,0.000000,0.194694,s,False,False,False,9,5,True,False

In [56]:
df_wc

,repeat,seed,hand,blind,illuminated,torch,volume_portrait,clutter,target_class,predicted_class,...,prob_cls_17,prob_cls_18,size,train blind,train clutter,train hand,n_objects,k_examples,augment,WC
0,1,463122,True,False,True,False,False,False,15,16,...,0.000000,0.000000,m,False,False,False,2,10,True,True
1,1,463122,True,False,True,False,False,False,16,16,...,0.000000,0.000000,m,False,False,False,2,10,True,True
2,1,463122,True,False,True,False,False,False,16,16,...,0.000000,0.000000,m,False,False,False,2,10,True,True
3,1,463122,True,False,True,False,False,False,15,16,...,0.000000,0.000000,m,False,False,False,2,10,True,True
4,1,463122,True,False,True,False,False,False,16,16,...,0.000000,0.000000,m,False,False,False,2,10,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848453,30,493342,False,True,True,True,False,True,11,5,...,0.003119,0.003451,s,False,False,False,9,5,True,True
848454,30,493342,False,True,True,True,False,True,9,5,...,0.001912,0.000104,s,False,False,False,9,5,True,True
848455,30,493342,False,True,True,True,False,True,17,5,...,0.075505,0.008713,s,False,False,False,9,5,True,True
848456,30,493342,False,True,True,True,False,True,4,9,...,0.000001,0.000036,s,False,False,False,9,5,True,True
848457,30,493342,False,True,True,True,False,True,6,12,...,0.004270,0.091368,s,False,False,False,9,5,True,True

In [57]:
acc_base = df_a.groupby(['size', 'n_objects', 'k_examples', 'augment', 'seed'])["correct"].mean()\
    .groupby(['size', 'n_objects', 'k_examples', 'augment']).mean()

In [58]:
acc_wc = df_wc.groupby(['size', 'n_objects', 'k_examples', 'augment', 'seed'])["correct"].mean()\
    .groupby(['size', 'n_objects', 'k_examples', 'augment']).mean()

In [59]:
acc_base

size  n_objects  k_examples  augment
l     2          1           True       0.756481
                 3           True       0.768981
                 5           True       0.780093
                 10          True       0.850370
      4          1           True       0.542037
                 3           True       0.599306
                 5           True       0.591991
                 10          True       0.643796
      9          1           True       0.359053
                 3           True       0.367819
                 5           True       0.380165
                 10          True       0.396358
      19         1           True       0.200595
                 3           True       0.228109
                 5           True       0.234786
                 10          True       0.237300
m     2          1           True       0.721667
                 3           True       0.789259
                 5           True       0.737870
                 10          True       0.719167
      4          1           True       0.520556
                 3           True       0.552731
                 5           True       0.556759
                 10          True       0.525000
      9          1           True       0.308868
                 3           True       0.339630
                 5           True       0.352942
                 10          True       0.361111
      19         1           True       0.168187
                 3           True       0.206033
                 5           True       0.201442
                 10          True       0.216559
s     2          1           True       0.673611
                 3           True       0.759167
                 5           True       0.740556
                 10          True       0.745185
      4          1           True       0.462917
                 3           True       0.500417
                 5           True       0.493796
                 10          True       0.494907
      9          1           True       0.248827
                 3           True       0.273457
                 5           True       0.293642
                 10          True       0.295329
      19         1           True       0.141199
                 3           True       0.156316
                 5           True       0.167534
                 10          True       0.167057
Name: correct, dtype: float64

In [60]:
acc_wc

size  n_objects  k_examples  augment
m     2          1           True       0.753056
                 3           True       0.753519
                 5           True       0.795463
                 10          True       0.704259
      4          1           True       0.543704
                 3           True       0.537824
                 5           True       0.595880
                 10          True       0.627474
s     2          1           True       0.693796
                 3           True       0.774444
                 5           True       0.715463
                 10          True       0.707870
      4          1           True       0.485787
                 3           True       0.500556
                 5           True       0.525741
                 10          True       0.528750
      9          1           True       0.291008
                 3           True       0.315082
                 5           True       0.310947
                 10          True       0.324259
      19         1           True       0.159405
                 3           True       0.181140
                 5           True       0.182914
                 10          True       0.185146
Name: correct, dtype: float64

In [61]:
diff = acc_wc - acc_base

In [62]:
diff

size  n_objects  k_examples  augment
l     2          1           True            NaN
                 3           True            NaN
                 5           True            NaN
                 10          True            NaN
      4          1           True            NaN
                 3           True            NaN
                 5           True            NaN
                 10          True            NaN
      9          1           True            NaN
                 3           True            NaN
                 5           True            NaN
                 10          True            NaN
      19         1           True            NaN
                 3           True            NaN
                 5           True            NaN
                 10          True            NaN
m     2          1           True       0.031389
                 3           True      -0.035741
                 5           True       0.057593
                 10          True      -0.014907
      4          1           True       0.023148
                 3           True      -0.014907
                 5           True       0.039120
                 10          True       0.102474
      9          1           True            NaN
                 3           True            NaN
                 5           True            NaN
                 10          True            NaN
      19         1           True            NaN
                 3           True            NaN
                 5           True            NaN
                 10          True            NaN
s     2          1           True       0.020185
                 3           True       0.015278
                 5           True      -0.025093
                 10          True      -0.037315
      4          1           True       0.022870
                 3           True       0.000139
                 5           True       0.031944
                 10          True       0.033843
      9          1           True       0.042181
                 3           True       0.041626
                 5           True       0.017305
                 10          True       0.028930
      19         1           True       0.018207
                 3           True       0.024825
                 5           True       0.015380
                 10          True       0.018090
Name: correct, dtype: float64

In [63]:
pivoted = diff.reset_index().pivot_table(values=["correct"], index=['n_objects', 'k_examples'], columns=["augment", "size"])
pivoted = pivoted.reorder_levels([1, 2, 0], axis=1)
pivoted = pivoted.sort_index(axis=1, level=[2], sort_remaining=False, ascending=False)\
    .sort_index(axis=1, level=[1], ascending=False, sort_remaining=False)\
    .sort_index(axis=1, level=[0], sort_remaining=False)
pivoted

augment                   True
size                         s         m
                       correct   correct
n_objects k_examples
2         1           0.020185  0.031389
          3           0.015278 -0.035741
          5          -0.025093  0.057593
          10         -0.037315 -0.014907
4         1           0.022870  0.023148
          3           0.000139 -0.014907
          5           0.031944  0.039120
          10          0.033843  0.102474
9         1           0.042181       NaN
          3           0.041626       NaN
          5           0.017305       NaN
          10          0.028930       NaN
19        1           0.018207       NaN
          3           0.024825       NaN
          5           0.015380       NaN
          10          0.018090       NaN

In [64]:
pivoted.applymap(lambda x: f"{x*100:+.2f}")

augment                 True
size                       s       m
                     correct correct
n_objects k_examples
2         1            +2.02   +3.14
          3            +1.53   -3.57
          5            -2.51   +5.76
          10           -3.73   -1.49
4         1            +2.29   +2.31
          3            +0.01   -1.49
          5            +3.19   +3.91
          10           +3.38  +10.25
9         1            +4.22    +nan
          3            +4.16    +nan
          5            +1.73    +nan
          10           +2.89    +nan
19        1            +1.82    +nan
          3            +2.48    +nan
          5            +1.54    +nan
          10           +1.81    +nan