In [1]:
import os
from pathlib import Path
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

In [2]:
os.path.abspath(os.curdir)

'/mnt/c/Users/crulis/Documents/projects/yolo_tdid_github'

In [3]:
result_orig = Path('../yolo_tdid/results/')
result_wc = Path('results_wc_gqa')
# result_wc = Path('results_wc_eps')

In [4]:
list(result_wc.iterdir())[0]

PosixPath('results_wc_gqa/yolow-l_sighted-True_clutter-False_hand-False_n-19_k-10_bias-False_augment-True_use_wc-True_seed-657923.csv')

In [5]:
def load(path):
    files = path.iterdir()
    name_re = re.compile(r"yolow-(?P<size>.)_sighted-(?P<sighted>.+)_clutter-(?P<clutter>.+)_hand-(?P<hand>.+)_n-(?P<n>\d+)_k-(?P<k>\d+)_bias-.+_augment-(?P<augment>True|False+)(_use_wc-(?P<wc>.+))?_seed-(?P<seed>\d+).*")

    dfs = []

    for f in files:
        m = name_re.match(f.stem)
        if m is None:
            print(f"Skipping {f}")
            continue
        try:
            df = pd.read_csv(f)
            df['size'] = m.group("size")
            df['train blind'] = m.group("sighted") == "False"
            df['train clutter'] = m.group("clutter") == "True"
            df['train hand'] = m.group("hand") == "True"
            df['n_objects'] = int(m.group("n"))
            df['k_examples'] = int(m.group("k"))
            df['augment'] = m.group("augment") == "True"
            df['WC'] = m.group("wc") == "True"
            dfs.append(df)
        except Exception as e:
            print(e)
            print("skipping file")

    df = pd.concat(dfs, ignore_index=True)
    return df

In [6]:
df_base = load(result_orig)

In [7]:
any(df_base["train hand"])

True

In [8]:
df_wc = load(result_wc)

In [9]:
df_base

,repeat,seed,hand,blind,illuminated,torch,volume_portrait,clutter,target_class,predicted_class,...,prob_cls_17,prob_cls_18,size,train blind,train clutter,train hand,n_objects,k_examples,augment,WC
0,1,377084,True,False,True,True,False,False,9,13,...,0.061752,0.382750,l,False,False,False,19,10,False,False
1,1,377084,True,False,True,True,False,False,6,6,...,0.107681,0.899965,l,False,False,False,19,10,False,False
2,1,377084,True,False,True,True,False,False,1,13,...,0.253749,0.983169,l,False,False,False,19,10,False,False
3,1,377084,True,False,True,True,False,False,0,15,...,0.646412,0.991299,l,False,False,False,19,10,False,False
4,1,377084,True,False,True,True,False,False,16,7,...,0.675795,0.896656,l,False,False,False,19,10,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8812795,30,959693,True,False,True,True,True,True,16,16,...,0.606249,0.969648,s,False,False,True,9,5,True,False
8812796,30,959693,True,False,True,True,True,True,17,16,...,0.010714,0.004522,s,False,False,True,9,5,True,False
8812797,30,959693,True,False,True,True,True,True,18,16,...,0.744066,0.982809,s,False,False,True,9,5,True,False
8812798,30,959693,True,False,True,True,True,True,1,16,...,0.973156,0.948100,s,False,False,True,9,5,True,False
8812799,30,959693,True,False,True,True,True,True,17,17,...,0.949753,0.661611,s,False,False,True,9,5,True,False

In [10]:
df_a = df_base[df_base["augment"] & (df_base["train hand"] == False)]

In [11]:
df_a

,repeat,seed,hand,blind,illuminated,torch,volume_portrait,clutter,target_class,predicted_class,...,prob_cls_17,prob_cls_18,size,train blind,train clutter,train hand,n_objects,k_examples,augment,WC
102600,1,472439,True,False,True,True,False,False,9,14,...,0.023661,0.191233,l,False,False,False,19,10,True,False
102601,1,472439,True,False,True,True,False,False,6,12,...,0.508805,0.854984,l,False,False,False,19,10,True,False
102602,1,472439,True,False,True,True,False,False,1,5,...,0.324269,0.946395,l,False,False,False,19,10,True,False
102603,1,472439,True,False,True,True,False,False,0,5,...,0.776505,0.975045,l,False,False,False,19,10,True,False
102604,1,472439,True,False,True,True,False,False,16,10,...,0.133739,0.022656,l,False,False,False,19,10,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7343995,30,570949,True,False,True,True,True,True,16,5,...,0.000000,0.734826,s,False,False,False,9,5,True,False
7343996,30,570949,True,False,True,True,True,True,16,5,...,0.000000,0.332318,s,False,False,False,9,5,True,False
7343997,30,570949,True,False,True,True,True,True,18,16,...,0.000000,0.955170,s,False,False,False,9,5,True,False
7343998,30,570949,True,False,True,True,True,True,4,16,...,0.000000,0.929729,s,False,False,False,9,5,True,False
7343999,30,570949,True,False,True,True,True,True,8,8,...,0.000000,0.194694,s,False,False,False,9,5,True,False

In [12]:
df_wc

,repeat,seed,hand,blind,illuminated,torch,volume_portrait,clutter,target_class,predicted_class,...,prob_cls_17,prob_cls_18,size,train blind,train clutter,train hand,n_objects,k_examples,augment,WC
0,1,657923,True,False,True,False,False,False,18,6,...,1.599621e-02,0.700143,l,False,False,False,19,10,True,True
1,1,657923,True,False,True,False,False,False,0,6,...,1.851852e-02,0.590700,l,False,False,False,19,10,True,True
2,1,657923,True,False,True,False,False,False,10,10,...,2.209468e-02,0.061014,l,False,False,False,19,10,True,True
3,1,657923,True,False,True,False,False,False,13,5,...,1.607995e-02,0.253771,l,False,False,False,19,10,True,True
4,1,657923,True,False,True,False,False,False,15,10,...,1.449355e-02,0.145294,l,False,False,False,19,10,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203195,30,734490,False,True,True,True,False,True,3,11,...,1.289993e-03,0.000000,s,False,False,False,9,5,True,True
2203196,30,734490,False,True,True,True,False,True,3,15,...,2.853373e-07,0.000000,s,False,False,False,9,5,True,True
2203197,30,734490,False,True,True,True,False,True,3,7,...,1.876570e-03,0.000000,s,False,False,False,9,5,True,True
2203198,30,734490,False,True,True,True,False,True,7,12,...,2.745340e-04,0.000000,s,False,False,False,9,5,True,True
2203199,30,734490,False,True,True,True,False,True,3,3,...,6.123848e-07,0.000000,s,False,False,False,9,5,True,True

In [13]:
acc_base = df_a.groupby(['size', 'n_objects', 'k_examples', 'augment', 'seed'])["correct"].mean()\
    .groupby(['size', 'n_objects', 'k_examples', 'augment']).mean()

In [14]:
acc_wc = df_wc.groupby(['size', 'n_objects', 'k_examples', 'augment', 'seed'])["correct"].mean()\
    .groupby(['size', 'n_objects', 'k_examples', 'augment']).mean()

In [15]:
acc_base

size  n_objects  k_examples  augment
l     2          1           True       0.756481
                 3           True       0.768981
                 5           True       0.780093
                 10          True       0.850370
      4          1           True       0.542037
                 3           True       0.599306
                 5           True       0.591991
                 10          True       0.643796
      9          1           True       0.359053
                 3           True       0.367819
                 5           True       0.380165
                 10          True       0.396358
      19         1           True       0.200595
                 3           True       0.228109
                 5           True       0.234786
                 10          True       0.237300
m     2          1           True       0.721667
                 3           True       0.789259
                 5           True       0.737870
                 10          True       0.719167
      4          1           True       0.520556
                 3           True       0.552731
                 5           True       0.556759
                 10          True       0.525000
      9          1           True       0.308868
                 3           True       0.339630
                 5           True       0.352942
                 10          True       0.361111
      19         1           True       0.168187
                 3           True       0.206033
                 5           True       0.201442
                 10          True       0.216559
s     2          1           True       0.673611
                 3           True       0.759167
                 5           True       0.740556
                 10          True       0.745185
      4          1           True       0.462917
                 3           True       0.500417
                 5           True       0.493796
                 10          True       0.494907
      9          1           True       0.248827
                 3           True       0.273457
                 5           True       0.293642
                 10          True       0.295329
      19         1           True       0.141199
                 3           True       0.156316
                 5           True       0.167534
                 10          True       0.167057
Name: correct, dtype: float64

In [16]:
acc_std_wc = df_a.groupby(['size', 'n_objects', 'k_examples', 'augment', 'seed'])["correct"].mean()\
    .groupby(['size', 'n_objects', 'k_examples', 'augment']).agg(('mean', 'std'))
pivoted = acc_std_wc.apply(lambda x: f"{x['mean']*100:.2f}\\% ({x['std']*100:.2f})", axis=1).unstack(level=[3, 0])
pivoted = pivoted.sort_index(axis=1, level=[1], ascending=False, sort_remaining=False)\
    .sort_index(axis=1, level=[0], sort_remaining=False)
pivoted

augment                          True
size                                s                m                l
n_objects k_examples
2         1           67.36\% (15.13)  72.17\% (15.25)  75.65\% (13.53)
          3           75.92\% (15.05)  78.93\% (13.63)  76.90\% (15.93)
          5           74.06\% (16.08)  73.79\% (14.74)  78.01\% (17.05)
          10          74.52\% (16.07)  71.92\% (15.64)  85.04\% (10.87)
4         1           46.29\% (11.16)  52.06\% (12.48)  54.20\% (10.54)
          3           50.04\% (11.33)  55.27\% (10.74)  59.93\% (12.55)
          5           49.38\% (12.64)  55.68\% (11.67)  59.20\% (12.56)
          10          49.49\% (12.02)   52.50\% (8.77)  64.38\% (11.91)
9         1            24.88\% (6.37)   30.89\% (5.85)   35.91\% (7.87)
          3            27.35\% (6.01)   33.96\% (6.03)   36.78\% (6.52)
          5            29.36\% (5.68)   35.29\% (6.70)   38.02\% (6.30)
          10           29.53\% (5.63)   36.11\% (6.50)   39.64\% (5.74)
19        1            14.12\% (2.69)   16.82\% (3.01)   20.06\% (3.42)
          3            15.63\% (1.97)   20.60\% (2.41)   22.81\% (2.44)
          5            16.75\% (1.69)   20.14\% (1.57)   23.48\% (2.05)
          10           16.71\% (1.37)   21.66\% (1.56)   23.73\% (1.15)

In [17]:
acc_wc

size  n_objects  k_examples  augment
l     2          1           True       0.817685
                 3           True       0.754167
                 5           True       0.800833
                 10          True       0.773241
      4          1           True       0.537500
                 3           True       0.588194
                 5           True       0.570000
                 10          True       0.575046
      9          1           True       0.346008
                 3           True       0.366152
                 5           True       0.373416
                 10          True       0.396337
      19         1           True       0.213109
                 3           True       0.238889
                 5           True       0.255331
                 10          True       0.262320
m     2          1           True       0.735463
                 3           True       0.720185
                 5           True       0.769722
                 10          True       0.803796
      4          1           True       0.491250
                 3           True       0.549213
                 5           True       0.563519
                 10          True       0.562176
      9          1           True       0.316152
                 3           True       0.360226
                 5           True       0.370247
                 10          True       0.388889
      19         1           True       0.181404
                 3           True       0.213187
                 5           True       0.216706
                 10          True       0.222339
s     2          1           True       0.686759
                 3           True       0.742593
                 5           True       0.741574
                 10          True       0.751852
      4          1           True       0.488935
                 3           True       0.494815
                 5           True       0.527870
                 10          True       0.510880
      9          1           True       0.279835
                 3           True       0.327798
                 5           True       0.316811
                 10          True       0.323313
      19         1           True       0.154318
                 3           True       0.186394
                 5           True       0.180351
                 10          True       0.179366
Name: correct, dtype: float64

In [18]:
acc_std_wc = df_wc.groupby(['size', 'n_objects', 'k_examples', 'augment', 'seed'])["correct"].mean()\
    .groupby(['size', 'n_objects', 'k_examples', 'augment']).agg(('mean', 'std'))
pivoted = acc_std_wc.apply(lambda x: f"{x['mean']*100:.2f}\\% ({x['std']*100:.2f})", axis=1).unstack(level=[3, 0])
pivoted = pivoted.sort_index(axis=1, level=[1], ascending=False, sort_remaining=False)\
    .sort_index(axis=1, level=[0], sort_remaining=False)
pivoted

augment                          True
size                                s                m                l
n_objects k_examples
2         1           68.68\% (16.08)  73.55\% (17.30)  81.77\% (15.64)
          3           74.26\% (17.36)  72.02\% (16.28)  75.42\% (14.04)
          5           74.16\% (17.91)  76.97\% (14.14)  80.08\% (13.13)
          10          75.19\% (14.25)  80.38\% (13.84)  77.32\% (15.69)
4         1           48.89\% (12.53)  49.12\% (11.20)  53.75\% (13.68)
          3           49.48\% (11.19)   54.92\% (7.91)  58.82\% (12.52)
          5           52.79\% (11.64)  56.35\% (14.61)  57.00\% (11.92)
          10          51.09\% (11.78)   56.22\% (9.45)  57.50\% (11.03)
9         1            27.98\% (7.73)   31.62\% (6.27)   34.60\% (7.53)
          3            32.78\% (5.63)   36.02\% (6.11)   36.62\% (5.91)
          5            31.68\% (4.95)   37.02\% (7.18)   37.34\% (6.02)
          10           32.33\% (5.69)   38.89\% (6.98)   39.63\% (5.09)
19        1            15.43\% (3.13)   18.14\% (2.57)   21.31\% (2.98)
          3            18.64\% (2.62)   21.32\% (2.42)   23.89\% (2.08)
          5            18.04\% (1.32)   21.67\% (1.61)   25.53\% (2.28)
          10           17.94\% (1.26)   22.23\% (1.44)   26.23\% (1.82)

In [19]:
print(pivoted.to_latex())

\begin{tabular}{lllll}
\toprule
 & augment & \multicolumn{3}{r}{True} \\
 & size & s & m & l \\
n_objects & k_examples &  &  &  \\
\midrule
\multirow[t]{4}{*}{2} & 1 & 68.68\% (16.08) & 73.55\% (17.30) & 81.77\% (15.64) \\
 & 3 & 74.26\% (17.36) & 72.02\% (16.28) & 75.42\% (14.04) \\
 & 5 & 74.16\% (17.91) & 76.97\% (14.14) & 80.08\% (13.13) \\
 & 10 & 75.19\% (14.25) & 80.38\% (13.84) & 77.32\% (15.69) \\
\cline{1-5}
\multirow[t]{4}{*}{4} & 1 & 48.89\% (12.53) & 49.12\% (11.20) & 53.75\% (13.68) \\
 & 3 & 49.48\% (11.19) & 54.92\% (7.91) & 58.82\% (12.52) \\
 & 5 & 52.79\% (11.64) & 56.35\% (14.61) & 57.00\% (11.92) \\
 & 10 & 51.09\% (11.78) & 56.22\% (9.45) & 57.50\% (11.03) \\
\cline{1-5}
\multirow[t]{4}{*}{9} & 1 & 27.98\% (7.73) & 31.62\% (6.27) & 34.60\% (7.53) \\
 & 3 & 32.78\% (5.63) & 36.02\% (6.11) & 36.62\% (5.91) \\
 & 5 & 31.68\% (4.95) & 37.02\% (7.18) & 37.34\% (6.02) \\
 & 10 & 32.33\% (5.69) & 38.89\% (6.98) & 39.63\% (5.09) \\
\cline{1-5}
\multirow[t]{4}{*}{19} & 1 & 15.43\% (3.13) & 18.14\% (2.57) & 21.31\% (2.98) \\
 & 3 & 18.64\% (2.62) & 21.32\% (2.42) & 23.89\% (2.08) \\
 & 5 & 18.04\% (1.32) & 21.67\% (1.61) & 25.53\% (2.28) \\
 & 10 & 17.94\% (1.26) & 22.23\% (1.44) & 26.23\% (1.82) \\
\cline{1-5}
\bottomrule
\end{tabular}

In [20]:
diff = acc_wc - acc_base

In [21]:
diff

size  n_objects  k_examples  augment
l     2          1           True       0.061204
                 3           True      -0.014815
                 5           True       0.020741
                 10          True      -0.077130
      4          1           True      -0.004537
                 3           True      -0.011111
                 5           True      -0.021991
                 10          True      -0.068750
      9          1           True      -0.013045
                 3           True      -0.001667
                 5           True      -0.006749
                 10          True      -0.000021
      19         1           True       0.012515
                 3           True       0.010780
                 5           True       0.020546
                 10          True       0.025019
m     2          1           True       0.013796
                 3           True      -0.069074
                 5           True       0.031852
                 10          True       0.084630
      4          1           True      -0.029306
                 3           True      -0.003519
                 5           True       0.006759
                 10          True       0.037176
      9          1           True       0.007284
                 3           True       0.020597
                 5           True       0.017305
                 10          True       0.027778
      19         1           True       0.013216
                 3           True       0.007154
                 5           True       0.015263
                 10          True       0.005780
s     2          1           True       0.013148
                 3           True      -0.016574
                 5           True       0.001019
                 10          True       0.006667
      4          1           True       0.026019
                 3           True      -0.005602
                 5           True       0.034074
                 10          True       0.015972
      9          1           True       0.031008
                 3           True       0.054342
                 5           True       0.023169
                 10          True       0.027984
      19         1           True       0.013119
                 3           True       0.030078
                 5           True       0.012817
                 10          True       0.012310
Name: correct, dtype: float64

In [22]:
pivoted = diff.reset_index().pivot_table(values=["correct"], index=['n_objects', 'k_examples'], columns=["augment", "size"])
pivoted = pivoted.reorder_levels([1, 2, 0], axis=1)
pivoted = pivoted.sort_index(axis=1, level=[2], sort_remaining=False, ascending=False)\
    .sort_index(axis=1, level=[1], ascending=False, sort_remaining=False)\
    .sort_index(axis=1, level=[0], sort_remaining=False)
pivoted

augment                   True
size                         s         m         l
                       correct   correct   correct
n_objects k_examples
2         1           0.013148  0.013796  0.061204
          3          -0.016574 -0.069074 -0.014815
          5           0.001019  0.031852  0.020741
          10          0.006667  0.084630 -0.077130
4         1           0.026019 -0.029306 -0.004537
          3          -0.005602 -0.003519 -0.011111
          5           0.034074  0.006759 -0.021991
          10          0.015972  0.037176 -0.068750
9         1           0.031008  0.007284 -0.013045
          3           0.054342  0.020597 -0.001667
          5           0.023169  0.017305 -0.006749
          10          0.027984  0.027778 -0.000021
19        1           0.013119  0.013216  0.012515
          3           0.030078  0.007154  0.010780
          5           0.012817  0.015263  0.020546
          10          0.012310  0.005780  0.025019

In [23]:
diff_formatted = pivoted.applymap(lambda x: f"{x*100:+.2f}")
diff_formatted

augment                 True
size                       s       m       l
                     correct correct correct
n_objects k_examples
2         1            +1.31   +1.38   +6.12
          3            -1.66   -6.91   -1.48
          5            +0.10   +3.19   +2.07
          10           +0.67   +8.46   -7.71
4         1            +2.60   -2.93   -0.45
          3            -0.56   -0.35   -1.11
          5            +3.41   +0.68   -2.20
          10           +1.60   +3.72   -6.87
9         1            +3.10   +0.73   -1.30
          3            +5.43   +2.06   -0.17
          5            +2.32   +1.73   -0.67
          10           +2.80   +2.78   -0.00
19        1            +1.31   +1.32   +1.25
          3            +3.01   +0.72   +1.08
          5            +1.28   +1.53   +2.05
          10           +1.23   +0.58   +2.50

In [24]:
print(diff_formatted.to_latex())

\begin{tabular}{lllll}
\toprule
 & augment & \multicolumn{3}{r}{True} \\
 & size & s & m & l \\
 &  & correct & correct & correct \\
n_objects & k_examples &  &  &  \\
\midrule
\multirow[t]{4}{*}{2} & 1 & +1.31 & +1.38 & +6.12 \\
 & 3 & -1.66 & -6.91 & -1.48 \\
 & 5 & +0.10 & +3.19 & +2.07 \\
 & 10 & +0.67 & +8.46 & -7.71 \\
\cline{1-5}
\multirow[t]{4}{*}{4} & 1 & +2.60 & -2.93 & -0.45 \\
 & 3 & -0.56 & -0.35 & -1.11 \\
 & 5 & +3.41 & +0.68 & -2.20 \\
 & 10 & +1.60 & +3.72 & -6.87 \\
\cline{1-5}
\multirow[t]{4}{*}{9} & 1 & +3.10 & +0.73 & -1.30 \\
 & 3 & +5.43 & +2.06 & -0.17 \\
 & 5 & +2.32 & +1.73 & -0.67 \\
 & 10 & +2.80 & +2.78 & -0.00 \\
\cline{1-5}
\multirow[t]{4}{*}{19} & 1 & +1.31 & +1.32 & +1.25 \\
 & 3 & +3.01 & +0.72 & +1.08 \\
 & 5 & +1.28 & +1.53 & +2.05 \\
 & 10 & +1.23 & +0.58 & +2.50 \\
\cline{1-5}
\bottomrule
\end{tabular}